/*
 * Guild Sidebar 
*/

/* 'Home' button */
div[class*="tutorialContainer-"] {
    margin-top: -4px;
}

/* sidebar */
nav[aria-label*="Servers sidebar"] {
    width: 64px;
    margin: 0;
    margin-left: -5px;
    margin-right: -12px;
}

/* server indicator */
div[class*="pill"] {
    transform: translate(4px);
}

/* sidebar items */
div[class*="listItem-"] {
    width: 64px;
}

/*
 * Channel Sidebar
*/

div[class*="sidebar-"] {
    width: 164px;
}

div[id*="channels"][class*="scroller"] {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

/* channel name takes up all space */
div[class*="content-"]  {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 8px; 
}

/* no # icon */
div[class*="iconContainer"][aria-label*="Text"] {
    display:none;
}

/* Hide the action bar nametag and status */
section > div[class*="container"] > [class*='nameTag-'] {
    display:none;
}

/* no useless padding at top of channels bar */
li[class*="containerDefault"] {
    padding-top: 0px;
}

/*
 * Top bar
 */ 

section[aria-label="Channel header"] {
    height: 28px;
}

header[class*="header-"] {
    padding: 2px;
    height: 28px;
}


/* no ^ on server name or boost indicator */
div[class*="headerChildren-"], div[class*="guildIconContainer-"] {
    display: none;
}

/* server name takes up all space */
h1[class*="name-"] {
    overflow: clip;
    position: absolute;
}

/*
 * Messages
*/
div[class*="compact-"] div[class*="contents-"] {
    margin-left: -7em;
}
form[class*="form-"] {
    padding-left: 0;
    margin-left: -0.25em;
}
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"] {
    display: none;
}
